
body{
    font-family: cursive, georgia, serif;     
}

#layout{
    width: 60%;
    background-color: #ffe74c;
}

#title{
    padding: 10px;
    text-align: center;
    color: white;
}

#dic_container{
    background-color: #35A7FF;
    border: 5px solid black;
}

#dictionSearch{
    font-weight: 300;
}

#search{
    font-family: fantasy, georgia, serif;
}

#result{
    font-family: fantasy, georgia, serif;
    font-weight: bold;
    text-align: center;
}

#dictionary{
    background-color: #38618C;
}